<!-- <footer><div>
  <i-bs name="bell-fill"
  width="75"
  height="75"></i-bs>
  </div></footer> -->

  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img width="100" alt="ACME Logo" src="../assets/acme-removebg-preview.png" />
    </a>
    <div>
      <h1 id="titulo">
        {{title}}
      </h1>
    </div>
  </nav>
  
  <!-- <br>
  <div class="row">
    <div class="col-md-2">Filtrar por:</div>
    <div class="col-md-4">
      <input type="text"/>
    </div>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            <button class="btn btn-primary">
              <i class="fa fa-eye"></i>
              Imagenes
            </button>
          </th>
          <th>Producto</th>
          <th>Codigo</th>
          <th>Disponible</th>
          <th>Precio</th>
          <th>Rating</th>
        </tr>
      </thead>
    </table>
  </div> -->

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filtrar por:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter"/>
      </div>
      <div class="clo-md-6">
        Filtrado por: {{listFilter}}
      </div>
    </div>
  </div>
  
  <app-product-list [datos]="filteredProducts"></app-product-list>

</div>